$gray: #999;
$light-gray: #EEE;

/* Space out content a bit */
body {
    padding-top: 20px;
}

.header {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.footer {
    /* padding-top: 19px; */
    color: $gray;
    border-top: 1px solid $light-gray;
    text-align: center;
    font-size: 0.8em;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;

    a:link, a:visited {
        color: $gray;
    }
}

@media only screen and (max-device-width: 600px) {
    .footer {
        padding-left: 5%;
        padding-right: 5%;  
    }
}

.fa {
    color: $gray;
}
a > .fa {
    display: inline;
}

/* /\* Customize container *\/ */
/* @media (min-width: 768px) { */
/*     .container { */
/*         max-width: 730px; */
/*     } */
/* } */

/* Jumbotron */
.jumbotron {
    text-align: justify;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-size: 125%
}

/* Group logo */
#logo {
    width: 290px;
    // width: 154px;
    // height: 35px;
    margin: 2px 0 8px 0;
}

.affiliation {
    width: 50%;
    height: auto;
    margin-top: 0px;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 15px;
}

@media only screen and (max-device-width: 600px) {
    .affiliation {
        width: 70%;
    }
}

/* Front page news. */
ul.news {

    .date {
        color: $gray;
        font-weight: bold;
    }

    > li {
        margin-top: 1em;
    }
}

@media (min-width: 576px) {
    .project-people { column-count: 2 }
    .card-columns   { column-count: 2 }
}

@media (min-width: 768px) {
    .role.grad      { column-count: 1 }
    .project-people { column-count: 3 }
    .card-columns   { column-count: 3 }
}

.title img {
    max-width: 50%;
}

section {
    margin-bottom: 2em;
}

.profile {
    object-fit: cover; // makes sure it's cropped
}

.noprofile {
    circle {
        fill: $light-gray;
    }
    text {
        font-weight: 700;
        fill: white;
    }
}

.card {

    .profile {
        height: 40px;
        width: 40px;
        margin: 3px;
    }

    .card-footer { padding: 0.5em }
}

.person {

    margin-bottom: 10px;

    .profile {
        height: 70px;
        width: 70px;
    }

    .bio {
        color: $gray;
    }

    .affiliation {
        color: $gray;
    }

    .person-name {
        margin: 0;
    }
}

svg {
    // make the alignment just like img from bootstrap's reboot.scss
    vertical-align: middle;
}

/* Floating Social Media Bar Style Starts Here */

.twitter {
font: normal normal 10px Arial;
text-align: center;
color: #998578;
text-transform: uppercase;
letter-spacing: 3px;
}

.twitter {
color: #ffffff;
text-decoration: none;
display: block;
padding: 14px;
-webkit-transition: all .25s ease;
-moz-transition: all .25s ease;
-ms-transition: all .25s ease;
-o-transition: all .25s ease;
}
  
.fl-fl {
background: #2E3192;
text-transform: uppercase;
letter-spacing: 3px;
padding: 4px;
width: 190px;
position: fixed;
right: -145px;
z-index: 1000;
font: normal normal 10px Arial;
-webkit-transition: all .25s ease;
-moz-transition: all .25s ease;
-ms-transition: all .25s ease;
-o-transition: all .25s ease;
transition: all .25s ease;
}

.fl-fl:hover, .fl-fl:active {
right: 0;
}

.fl-fl a {
color: #ffffff !important;
text-decoration: none;
text-align: center;
line-height: 43px!important;
vertical-align: top!important;
}

.float-gh {
bottom: 70px;
}

.float-ig {
bottom: 10px;
}