---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [msc, collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        The <strong>C</strong>ognitive <strong>A</strong>ssistive <strong>R</strong>obotic <strong>E</strong>nvironments (<strong>CARE</strong>) Group focus is on enabling robotic, autonomous and interactive systems to provide user-centered living support. Our research address the scientific and technical challenges underpinning the development of next generation user-centered healthy ageing and indipendent living systems by harnessing Internet of Things (IoT) and robotic, autonomous and interactive technologies.
    </p>
</div>

<div class="grid-container-home">
    <div class="grid-item-home-video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/GjtcLn9ZOnA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="grid-item-home-sidekick">
        <div class="grid-item-home-sidekick-title">
            <a style="color:white;" href="http://care.hw.ac.uk/research/openaal.html">OpenAAL</a>
        </div>
        <div class="grid-item-home-sidekick-subtext">
            We lead <strong><a style="color:white;" href="http://care.hw.ac.uk/research/openaal.html">Open Ambient Assisted Living (OpenAAL)</a></strong>, an open lab to accellerate the creation of innovative, sustainable and affordable solutions for healthy ageing and indipendent living systems from the <strong><a style="color:white;" href="https://www.thenationalrobotarium.com/">UK National Robotarium</a></strong>.
        </div>   
    </div>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% if post.type == "news" %}
                {% include news-item.html item=post %}
            {% endif %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<br>