---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [msc, collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        The <b>C</b>ognitive <b>A</b>ssistive <b>R</b>obotic <b>E</b>nvironments (<b>CARE</b>) Group focus is on enabling robotic, autonomous and interactive systems to provide user-centered living support.
        We lead <b><a href="http://care.hw.ac.uk/research/openaal.html">Open Ambient Assisted Living (OpenAAL)</a></b>, an open lab to accellerate the creation of innovative, sustainable and affordable solutions for healthy ageing and indipendent living systems from the <b><a href="https://www.thenationalrobotarium.com/">UK National Robotarium</a></b>. 
    </p>
</div>

<div class="grid-container-home">
    <div class="grid-item-home-video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/GjtcLn9ZOnA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="grid-item-home-sidekick">
        <div class="grid-item-home-sidekick-title">
            Some title
        </div>
        <div class="grid-item-home-sidekick-subtext">
            This is some kind of descriptive text to go below the title. What could it be?
        </div>   
    </div>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% if post.type == "news" %}
                {% include news-item.html item=post %}
            {% endif %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<div id="funding">
    <h2>Funding</h2>
    <p>
        Several of our students are supported by the <a href="https://epsrc.ukri.org">Engineering and Physical Sciences Research Council</a>. Please see specific project pages for relevant funding information.
    </p>
    <br>
</div>