---
layout: default
title: People

picture-role-groups:
- {roles: [faculty, postdoc, staff], width: 4}
- {roles: [grad], width: 4}
- {roles: [msc], width: 4}

no-picture-role-groups:
- {roles: [alum], width: 12}
- {roles: [collab, ugrad, ugrad-alum], width: 12}
---

<p>
Founded in June 2019 by Dr Mauro Dragone, CARE Group aims to promote and support research around the integration of IoT and robotic technology into Ambient Assisted Living (AAL) environments. For us, the term 'Cognitive Assistive Robotic Environments' embodies a vision: a future where individuals are able to live in their own home for longer, supported by the ubiquity of intellgent (cognitive) asssitive smart homes that can not only sense and react to user behaviour, but can proactively engage with the user using robotics.
</p>

<p>
Our members have backgrounds in computer science, biomedical image and signal processing, electronics engineering, industrial design, machine learning, and robotics. Drawing on expertise from within the Edinburgh Centre for Robotics we can expand the relevance of our research, e.g. by utilising Human-Robot Interaction specialists in our design and evaluation processes, while external collaboration allows us to consider a wider range of research angles, e.g. through collaborations with human psychologists like Dr Mario Parra Rodriguez at the University of Strathclyde.
</p>

<!-- <br><br> -->

<section class="people row justify-content-between">
    {% for role-group in page.picture-role-groups %}
        <div class="col-md-{{ role-group.width }}">
            {% for role in role-group.roles %}
                {% include role-people.html role=role image=true %}
            {% endfor %}
        </div>
    {% endfor %}

    {% for item in site.data.people %}
        {% assign person = item[1] %}
        {% if person.role == role.key %}
            {% include person.html person=person image=true %}
        {% endif %}
    {% endfor %}
</section>

<section class="people row justify-content-between">
    {% for role-group in page.no-picture-role-groups %}
        <div class="col-md-{{ role-group.width }}">
            {% for role in role-group.roles %}
                {% include role-people.html role=role image=false %}
            {% endfor %}
        </div>
    {% endfor %}
</section>