---
layout: default
title: People

picture-role-groups:
- {roles: [faculty, postdoc, staff], width: 4}
- {roles: [grad], width: 4}
- {roles: [research-assistant], width: 4}

no-picture-role-groups:
- {roles: [msc], width: 12}
- {roles: [alum], width: 12}
- {roles: [ugrad, ugrad-alum], width: 12}
---

<p>
Our members have backgrounds in computer science, biomedical image and signal processing, electronics engineering, industrial design, machine learning, cognitive robotics, and social robotics. Our group is comprised of two faculty members, four PhD students, and a range of bachelor's and master's level students working on individual and group projects throughout the academic year.
</p>

<!-- <br><br> -->

<section class="people row justify-content-between">
    {% for role-group in page.picture-role-groups %}
        <div class="col-md-{{ role-group.width }}">
            {% for role in role-group.roles %}
                {% include role-people.html role=role image=true %}
            {% endfor %}
        </div>
    {% endfor %}

    {% for item in site.data.people %}
        {% assign person = item[1] %}
        {% if person.role == role.key %}
            {% include person.html person=person image=true %}
        {% endif %}
    {% endfor %}
</section>

<section class="people row justify-content-between">
    {% for role-group in page.no-picture-role-groups %}
        <div class="col-md-{{ role-group.width }}">
            {% for role in role-group.roles %}
                {% include role-people.html role=role image=false %}
            {% endfor %}
        </div>
    {% endfor %}
</section>