---
layout: default
title: Projects
notitle: true
---

<p style="margin-bottom: 15pt">
Our research address the scientific and technical challenges underpinning the development of next generation user-centered healthy ageing and indipendent living systems by harnessing Internet of Things (IoT) and Robotic, Autonomous and Interactive technologies.
For us, the term 'Cognitive Assistive Robotic Environments' embodies a vision: a future where humans are supported by smart environments that can not only sense and react to user behaviour, but can proactively engage and cooperate with them using robotic technology. Drawing on expertise from within the Edinburgh Centre for Robotics and collaborating with psychologists and other social scientists allow us to consider a wider range of research angles.
</p>

<style>
    .grid-container {
      display: grid;
      /* grid-template-columns: auto auto auto; */
      grid-auto-columns: minmax(0, 1fr);
      grid-auto-flow: column;
      background-color: white;
      margin-bottom: 20pt;
    }

    .grid-item-research {
      /* background-color: rgba(255, 255, 255, 0.8); */
      background-image: url("https://care.hw.ac.uk/img/HSR2.png");
      background-color: #33358F;
      background-blend-mode: overlay;
      border: 0px solid rgba(0, 0, 0, 0.8);
      background-size: 100%;
      padding: 20px;
      font-size: 30px;
      text-align: center;
      color: white;
      vertical-align: middle;
      padding: 70px 0;
      margin: 2pt;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: bold;
    }

    .grid-item-openaal {
      /* background-color: rgba(255, 255, 255, 0.8); */
      background-image: url("https://care.hw.ac.uk/img/research/dashboard_bg.png");
      background-color: #33358F;
      background-blend-mode: overlay;
      border: 0px solid rgba(0, 0, 0, 0.8);
      background-size: 100%;
      padding: 20px;
      font-size: 30px;
      text-align: center;
      color: white;
      vertical-align: middle;
      padding: 70px 0;
      margin: 2pt;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: bold;
    }

    .grid-item-codesign {
      /* background-color: rgba(255, 255, 255, 0.8); */
      background-image: url("https://care.hw.ac.uk/img/artwork.png");
      background-color: #33358F;
      background-blend-mode: overlay;
      border: 0px solid rgba(0, 0, 0, 0.8);
      background-size: 100%;
      padding: 20px;
      font-size: 30px;
      text-align: center;
      color: white;
      vertical-align: middle;
      padding: 70px 0;
      margin: 2pt;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: bold;
    }
-->

    a:link {
        color: white;
    }
    a:hover {
        opacity: 0.75;
    }
</style>

<h2>Explore our research...</h2>
<div class="grid-container">
    <div class="grid-item-research"><a href="/research/projects.html" style="color:white">Projects</a></div>
    <div class="grid-item-openaal"><a href="/research/openaal.html" style="color:white">OpenAAL</a></div>
    <div class="grid-item-codesign"><a href="/research/codesign.html" style="color:white">Co-Design</a></div>  
</div>


<h2>Calls for Participants</h2>
<ul class="news list-unstyled">
    {% assign total = 0 %}
    {% for post in site.posts %}
       {% if post.type == "call-for-participants" %}
        {% assign total = total | plus: 1 %}
       {% endif %}
    {% endfor %}
    {% if total == 0 %}
        <p>Sorry, there are currently no open calls for participants. Please check back later.</p>
    {% endif %}
    {% for post in site.posts %}
        {% if post.type == "call-for-participants" %}
            {% include call-for-participants-item.html item=post %}
        {% endif %}
    {% endfor %}
</ul>
<br>