---
layout: default
title: Projects
notitle: true
---

<p style="margin-bottom: 15pt">
Our research address the scientific and technical challenges underpinning the development of next generation user-centered healthy ageing and indipendent living systems by harnessing Internet of Things (IoT) and Robotic, Autonomous and Interactive technologies.
For us, the term 'Cognitive Assistive Robotic Environments' embodies a vision: a future where humans are supported by smart environments that can not only sense and react to user behaviour, but can proactively engage and cooperate with them using robotic technology. Drawing on expertise from within the Edinburgh Centre for Robotics and collaborating with psychologists and other social scientists allow us to consider a wider range of research angles.
</p>

<style>
    a:hover {
        opacity: 0.75;
    }
</style>

<h2>Explore our research...</h2>
<div class="grid-container-research">
    <div class="grid-item-research grid-item-research-research"><a href="/research/projects.html" style="color:white">Projects</a></div>
    <div class="grid-item-research grid-item-research-openaal"><a href="/research/openaal.html" style="color:white">OpenAAL</a></div>
    <div class="grid-item-research grid-item-research-codesign"><a href="/research/codesign.html" style="color:white">Co-Design</a></div>  
</div>

<h2>Calls for Participants</h2>
<ul class="news list-unstyled">
    {% assign total = 0 %}
    {% for post in site.posts %}
        {% if post.type == "call-for-participants" %}
            {% if post.active == true %}
                {% include call-for-participants-item.html item=post %}
                {% assign total = total | plus: 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if total == 0 %}
        <p>Sorry, there are currently no open calls for participants. Please check back later.</p>
    {% endif %}
</ul>
<br>