---
layout: default
title: OpenAAL
notitle: true
---

<p>Welcome to <b>OpenAAL</b> - An Open and Remote Access Living Lab designed to accelerate the creation of innovative, sustainable and affordable solutions for healthy ageing and indipendent living systems. 
</p>

<!--<p>AAL is a term used to describe technology and processes implemented within home and care facilities with the intent to create a more natural environment to sustain healthy physical and mental health. Autonomous, robotics and interactive systems (RAIS) technologies are increasingly proposed as part of these systems. They can provide active monitoring as well as social and cognitive support, and take immediate action in case of emergencies.
</p>-->

<p>Initially funded through an <a href="http://care.hw.ac.uk/projects/projects/OpenAAL.html">Impact Accellerator Award grant in 2020</a>, OpenAAL now provides the <a href="https://www.hw.ac.uk/uk/research/the-national-robotarium.htm">UK National Robotarium</a> with a place that researchers, technology and industry users can use to co-create technology, where time and distance is no longer a barrier – any time, any place access. It offers a series of services for the rapid development of ambient assisted living solutions, which can be accessed, both physically, at the National Robotarium, and remotely.
</p>

<p>We use  tele-presence robotic, Digital Twin and Cloud technologies, to offer real-time interaction with the sensing, automation and robotic equipment in our testbeds. This transforms  them into collaborative working environments that can be programmed, shared and monitored, over the World Wide Web, connecting the researchers in our testbeds with developers and end-users around the World.
</p>

<!--<p>OpenAAL promotes knowledge transfer, collaboration and innovation through the National Robotarium, and amplifies Heriot-Watt University’s learning and teaching capacity by:
<ul>
    <li>Supporting R&D&I in AAL and Assistive Robotics, using remote desk and dedicated software to grant access to our lab workstations, smart homes and robots, remotely. Developers, innovators and students can use these facilities to install and test their software. They can also collect datasets that they can use to train machine learning and data analytic models, e.g. for home activity monitoring applications.</li>
    <li>Enabling the rapid development of proof-of-concepts robotic and AAL concepts, and their quick deployment into actual testbeds, for testing and evaluation purposes, by using workspace templates (based on cloud-based containerization technology) that can be cloned and customised, to meet the requirements of new projects. </li>
    <li>Enabling the rapid re-configuration of the software infrastructure used in our physical testbeds, so that they can be more easily shared amongst different research groups and concurrent projects</li>
    <li>Enabling demonstrations of robotic, autonomous and interactive technology as part of AAL systems to support co-design activities with health and social care stakeholders.</li>
    <li>Supporting opportunities for cross-training of a new generation of AI, data science, IoT and robotics researchers, and for preparing a healthcare workforce capable of delivering future care models.</li>
</ul>
</p>-->

<h2 style="padding-bottom:10pt;">Services</h2>
<div class="card-columns" style="padding-bottom:10pt;">
    {% assign projects = site.projects | sort: 'title' %}
    {% for p in projects %}
        {% if p.type == "service" %}
            {% include project-card.html project=p %}
        {% endif %}
    {% endfor %}
</div>

## Call for Collaborators
<p>From its launch, in 2021, OpenAAL has gained support from NHS Lothian, The Digital Health and Care Institute (DHI), Blackwood Home and Care Group, Consequential Robotics, Alcuris Ltd, Cyberselves, Scottish Care, The Coalition of Care Providers Scotland (CCPS), Sight Scotland, and The Data Lab - Scotland’s innovation centre for data and AI.
</p>

## How can you get involved?
<p>We encourage those working in the care sector or associated industries to get in touch to discuss possible collaborations. We are keen to learn about challenges faced by user groups, care providers and care organisations, and to understand how technology can help to address those challenges.
</p>
<p>
    The lab is also welcoming support from producers, suppliers and service companies of assistive technology, telecare, telehealth, smart home solutions, and other Internet of Things products, such as ambient sensors, alarm systems, wearable fitness devices, smart video calling software, and also cloud, network and infrastructure providers.
</p>
<p> 
    Our <a href="http://care.hw.ac.uk/projects/services/Mashup.html">Robotic + Care Mashup</a> brings together innovators and end-users in an intensive burst of creativity around specific issues.
</p>
<p> 
    A mashup can be used to find a concerted response to urgent requirements of specific user groups, using OpenAAL and the National Robotarium to catalyze and support collaborations to more quickly design proof-of-concepts solutions, which can then be further developed, to be considered for mass-market roll-out and rapid uptake by the industry.
</p>


## Join the OpenAAL Mailing List
<!--Please fill out the form below if you are interested in further information and updates about OpenAAL and ways to collaborate with us. 
    For further information, you can also contact Dr. Mauro Dragone directly by email at m.dragone@hw.ac.uk.-->

<p>Please get in touch with Dr. Mauro Dragone by email at m.dragone@hw.ac.uk if you are interested in further information and updates about OpenAAL and ways to collaborate with us.
</p>
<!-- 
{% assign projects_by_date = site.past-projects | sort: 'last-updated', 'first' %}
{% assign projects = site.past-projects | sort: 'title' %}
{% assign projects_by_date = projects_by_date | reverse %}
{% for p in projects_by_date %}
    {% include project-card.html project=p %}
{% endfor %} -->