---
layout: default
title: OpenAAL
notitle: true
---

<p>Welcome to <strong>OpenAAL</strong>, an Open and Remote Access Ambient Assisted Living lab designed to accelerate the
    creation of innovative, sustainable and affordable solutions for healthy ageing and indipendent living systems.
</p>

<p>Initially funded through an <a href="http://care.hw.ac.uk/projects/projects/OpenAAL.html">Impact Accellerator Award
        grant in 2020</a>, OpenAAL now provides the <a
        href="https://www.hw.ac.uk/uk/research/the-national-robotarium.htm">UK National Robotarium</a> with a place that
    researchers, technology and industry users can use to co-create technology, where time and distance is no longer a
    barrier – any time, any place access. It offers a series of services for the rapid development of ambient assisted
    living solutions, which can be accessed, both physically, at the National Robotarium, and remotely.
</p>

<p>We use tele-presence robotic, Digital Twin and Cloud technologies, to offer real-time interaction with the sensing,
    automation and robotic equipment in our testbeds. This transforms them into collaborative working environments that
    can be programmed, shared and monitored, over the World Wide Web, connecting the researchers in our testbeds with
    developers and end-users around the World.
</p>

<h2 style="padding-bottom:10pt;">Services</h2>
<div class="card-columns" style="padding-bottom:10pt;">
    {% assign projects = site.projects | sort: 'title' %}
        {% for post in projects %}
        {% if post.type == "service" %}
            {% include project-card.html project=post %}
        {% endif %}
    {% endfor %}
</div>

<h2>Call for Collaborators</h2>
<p>From its launch, in 2021, OpenAAL has gained support from NHS Lothian, The Digital Health and Care Institute (DHI),
    Blackwood Home and Care Group, Consequential Robotics, Alcuris Ltd, Cyberselves, Scottish Care, The Coalition of
    Care Providers Scotland (CCPS), Sight Scotland, and The Data Lab - Scotland’s innovation centre for data and AI.
</p>

<h2>How can you get involved?</h2>
<p>We encourage those working in the care sector or associated industries to get in touch to discuss possible
    collaborations. We are keen to learn about challenges faced by user groups, care providers and care organisations,
    and to understand how technology can help to address those challenges.
</p>
<p>
    The lab is also welcoming support from producers, suppliers and service companies of assistive technology, telecare,
    telehealth, smart home solutions, and other Internet of Things products, such as ambient sensors, alarm systems,
    wearable fitness devices, smart video calling software, and also cloud, network and infrastructure providers.
</p>
<p>
    Our <a href="http://care.hw.ac.uk/projects/services/Mashup.html">Robotic + Care Mashup</a> brings together
    innovators and end-users in an intensive burst of creativity around specific issues.
</p>
<p>
    A mashup can be used to find a concerted response to urgent requirements of specific user groups, using OpenAAL and
    the National Robotarium to catalyze and support collaborations to more quickly design proof-of-concepts solutions,
    which can then be further developed, to be considered for mass-market roll-out and rapid uptake by the industry.
</p>


<h2>Join the OpenAAL Mailing List</h2>

<p>Please get in touch with Dr. Mauro Dragone by email at m.dragone@hw.ac.uk if you are interested in further
    information and updates about OpenAAL and ways to collaborate with us.
</p>