---
layout: default
title: Projects
notitle: true
---

<h2 style="padding-bottom:10pt;">Current Projects</h2>
<div class="card-columns" style="padding-bottom:10pt;">
    {% assign projects = site.projects | sort: 'title' %}
    {% for p in projects %}
        {% if p.type == "project" %}
            {% include project-card.html project=p %}
        {% endif %}
    {% endfor %}
</div>

<h2 style="padding-bottom:10pt;">Past Projects</h2>
<div class="card-columns" style="padding-bottom:10pt;">
    {% assign projects = site.projects | sort: 'title' %}
    {% for p in projects %}
        {% if p.type == "project-past" %}
            {% include project-card.html project=p %}
        {% endif %}
    {% endfor %}
</div>