---
layout: default
title: Scott MacLeod
notitle: true
---
{% assign person = include.person %}

{% for item in site.data.people %}
    {% assign person = item[1] %}
    {% if person.role == role.key %}
        {% include person.html person=person image=true %}
    {% endif %}
{% endfor %}

<section>

    <div class="container" style="margin: 0pt; padding: 0%;">
        <div class="row">
            <div class="col-md-auto">
                <div class="jumbotron" style="font-size: 100%;">
                    <p class="text-center">
                        <img class="rounded-circle profile"
                        alt="Scott MacLeod"
                        src="/img/people/scott-macleod.png"
                        width = 200pt />
                    </p>
                    <p class="text-center">
                        <strong>Scott MacLeod</strong><br>
                        KTP Associate
                    </p>
                    <hr>
                    <p>
                        <i class="fa fa-envelope-o"></i>&nbsp; scott.macleod@hw.ac.uk <br>
                        <i class="fa fa-twitter"></i>&nbsp; N/A <br>
                        <i class="fa fa-linkedin">&nbsp;</i> @sa-macleod<br>
                        <i class="fa fa-graduation-cap">&nbsp;</i><a href="https://scholar.google.com/citations?user=A9VzLHcAAAAJ&hl=en&oi=ao">Scholar Profile</a>
                    </p>
                </div>
            </div>
            <div class="col">
                <p class="font-weight-bold m-0 p-0">Biography</p>
                <p>
                    Currently I am both finishing my PhD and working as a Knowledge Transfer Partnership (KTP) Associate at the Institute of Sensors, Signals and Systems (ISSS) at Heriot-Watt University. I am a member of the Cognitive Assistive Robotic Environments (CARE) group, under the direction of Dr. Mauro Dragone.
                </p>
                <p>
                    My PhD has focused on using pervasive sensing and robotic technology to automate cognitive assessment of people with mild cognitive impairment and/or at risk of developing dementia, to enable the provision of assistance always in tune with people's stages in life and care needs.
                </p>
                <p>
                    Currently, I am focused on the use of telepresence robots in care. My research aim is to provide access to communication channels by both residents and care staff in a wider variety of emergency scenarios. Allowing situations to be triaged remotely and the appropriate responses actioned, leading to a more effective, cost-efficient, and therefore scalable service.
                </p>
                <p>
                    Incorporating a fully mobile and interactive robot into an active telecare environment will enable other adaptable and bespoke robotic applications to be developed for a variety of applications, resulting in an increased sense of choice and control, increased independence all leading to and supporting increased health and well-being for those in care.
                </p>
                <!-- <p class="font-weight-bold m-0 p-0">Research Interests</p>
                <p>
                    Coming soon...
                </p> -->
            </div>
        </div>
    </div>
</section>