<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1145/3544549.3573822">Socially Assistive Robots as Decision Makers: Transparency, Motivations, and Intentions</a>.
			</span><br />
			<span class="authors">
				Emilyann Nault, Carl J Bettosi, Lynne Baillie, Ronnie Smith, Maja Mataric, Vivek Nallur, Manfred Tscheligi, Andreas Sackl, Fabio Paternò, Scott A Macleod, and Sara Cooper.
			</span><br />
			<span class="venuetype"></span><span class="venue">Extended Abstracts of the 2023 CHI Conference on Human Factors in Computing Systems</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.48550/arXiv.2303.14055">Addressing Potential Pitfalls of SAR Assistance on the Aging Population</a>.
			</span><br />
			<span class="authors">
				Emilyann Nault, Ronnie Smith, and Lynne Baillie.
			</span><br />
			<span class="venuetype"></span><span class="venue">1st Workshop on Socially Assistive Robots as Decision Makers: Transparency, Motivations, and Intentions at CHI 2023</span>.
			<span class="note">
			arXiv:2303.14055 [cs].
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.5281/zenodo.7622319">What Do We Really Want? - Looking for Nuance in Eldercare Situations</a>.
			</span><br />
			<span class="authors">
				Rajitha Ramanayake, Vivek Nallur, Ronnie Smith, and Mauro Dragone.
			</span><br />
			<span class="venuetype"></span><span class="venue">1st Workshop on Care Robots for Older Adults at RO-MAN 2022</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1145/3490099.3511130">A Dialogue-Based Interface for Active Learning of Activities of Daily Living</a>.
			</span><br />
			<span class="authors">
				Ronnie Smith and Mauro Dragone.
			</span><br />
			<span class="venuetype"></span><span class="venue">27th International Conference on Intelligent User Interfaces</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.48550/arXiv.2108.01067">Co-Design of Assistive Robotics with Additive Manufacturing and Cyber-Physical Modularity to Improve Trust</a>.
			</span><br />
			<span class="authors">
				Alexandre Colle, Ronnie Smith, Scott Macleod, and Mauro Dragone.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv:2108.01067 [cs]</span>.
			<span class="note">
			arXiv: 2108.01067.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.23919/EuMC48046.2021.9338223">Heartbeat and Respiration Detection Using a Low Complexity CW Radar System</a>.
			</span><br />
			<span class="authors">
				P. Kontou, S. Ben Smida, S. Nektarios Daskalakis, S. Nikolaou, M. Dragone, and D. E. Anagnostou.
			</span><br />
			<span class="venuetype"></span><span class="venue">2020 50th European Microwave Conference (EuMC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.3390/s21030768">Activity Recognition for Ambient Assisted Living with Videos, Inertial Units and Ambient Sensors</a>.
			</span><br />
			<span class="authors">
				Caetano Mazzoni Ranieri, Scott MacLeod, Mauro Dragone, Patricia Amancio Vargas, and Roseli Aparecida Francelin Romero.
			</span><br />
			<span class="venuetype"></span><span class="venue">Sensors 21(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/978-3-030-58356-9_13">A COTS (UHF) RFID Floor for Device-Free Ambient Assisted Living Monitoring</a>.
			</span><br />
			<span class="authors">
				Ronnie Smith, Yuan Ding, George Goussetis, and Mauro Dragone.
			</span><br />
			<span class="venuetype"></span><span class="venue">Ambient Intelligence -- Software and Applications -- 11th International Symposium on Ambient Intelligence</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1109/ICHMS49158.2020.9209543">An EEG investigation on planning human-robot handover tasks</a>.
			</span><br />
			<span class="authors">
				Sara Cooper, Stuart Gow, Samuel Fensome, Mauro Dragone, and Dimitrios Kourtis.
			</span><br />
			<span class="venuetype"></span><span class="venue">ICHMS 2020: 1st IEEE International Conference on Human-Machine Systems</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.23919/USNC/URSI49741.2020.9321670">CW Radar Based System with Automated DC Offset Reduction for Heartbeat Detection</a>.
			</span><br />
			<span class="authors">
				P. Kontou, S. B. Smida, M. Dragone, S. Nikolaou, and D. E. Anagnostou.
			</span><br />
			<span class="venuetype"></span><span class="venue">2020 IEEE USNC-CNC-URSI North American Radio Science Meeting (Joint with AP-S Symposium)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.ukras.org/wp-content/uploads/formidable/21/UKRAS20_paper_16.pdf">Human-in-the-Loop Adaptation and Reuse of Robot Assistance Policies for Ambient Assisted Living</a>.
			</span><br />
			<span class="authors">
				Ronnie Smith.
			</span><br />
			<span class="venuetype"></span><span class="venue">UKRAS '20 Conference: "Robots into the real world"</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.ukras.org/wp-content/uploads/formidable/21/UKRAS20_paper_28.pdf">A Robotic Environment for Cognitive Assessment</a>.
			</span><br />
			<span class="authors">
				Scott MacLeod, Mauro Dragone, and Mario P. Rodriguez.
			</span><br />
			<span class="venuetype"></span><span class="venue">UKRAS '20 Conference: "Robots into the real world"</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1145/3371382.3379452">The Role of Aesthetics in Robotics and the Rise of Polymorphic Robots</a>.
			</span><br />
			<span class="authors">
				Alexandre Colle.
			</span><br />
			<span class="venuetype"></span><span class="venue">HRI '20: Proceedings of the 2020 ACM/IEEE International Conference on Human-Robot Interaction</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/978-3-030-58356-9_23">Adaptivity as a Service (AaaS): Enabling Deep Personalisation for a Heterogeneous Ambient Assisted Living Landscape</a>.
			</span><br />
			<span class="authors">
				Ronnie Smith.
			</span><br />
			<span class="venuetype"></span><span class="venue">Workshop on Behavioral Patterns and Interaction Modelling for Personalized Human-Robot Interaction at HRI '20</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://static1.squarespace.com/static/5ac3dc3225bf0273228c2516/t/5e972369f26b89381d7da26d/1586963314736/HRI_2020_WS_Creative_SR_paper_3.pdf">Non-Zoomorphic Robots: The Role of Aesthetics in Social Robotic Design</a>.
			</span><br />
			<span class="authors">
				Alexandre Colle and Swen E Gaudl.
			</span><br />
			<span class="venuetype"></span><span class="venue">Workshop on Exploring Creative Content in Social Robotics at HRI '20</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1111/coin.12233">An ambient intelligence approach for learning in smart robotic environments</a>.
			</span><br />
			<span class="authors">
				Davide Bacciu, Maurizio Di Rocco, Mauro Dragone, Claudio Gallicchio, Alessio Micheli, and Alessandro Saffiotti.
			</span><br />
			<span class="venuetype"></span><span class="venue">Computational Intelligence 35(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://paolaardon.github.io/files/papers/18ardon2018reaching.pdf">Reaching and grasping of objects by humanoid robots through visual servoing</a>.
			</span><br />
			<span class="authors">
				Paola Ardon, Mauro Dragone, and Mustafa Suphi Erden.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Human Haptic Sensing and Touch Enabled Computer Applications</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1177/1729881418759424">The Internet of Robotic Things: A review of concept, added value and applications</a>.
			</span><br />
			<span class="authors">
				Pieter Simoens, Mauro Dragone, and Alessandro Saffiotti.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Journal of Advanced Robotic Systems 15(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
