<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A Dialogue-Based Interface for Active Learning of Activities of Daily Living.
			</span><br />
			<span class="authors">
				Ronnie Smith and Mauro Dragone.
			</span><br />
			<span class="venuetype"></span><span class="venue">27th International Conference on Intellgent User Interfaces (IUI '22)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Heartbeat and Respiration Detection Using a Low Complexity CW Radar System.
			</span><br />
			<span class="authors">
				P. Kontou, S. Ben Smida, S. Nektarios Daskalakis, S. Nikolaou, M. Dragone, and D. E. Anagnostou.
			</span><br />
			<span class="venuetype"></span><span class="venue">2020 50th European Microwave Conference (EuMC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.mdpi.com/971980">Activity Recognition for Ambient Assisted Living with Videos, Inertial Units and Ambient Sensors</a>.
			</span><br />
			<span class="authors">
				Caetano Mazzoni Ranieri, Scott MacLeod, Mauro Dragone, Patricia Amancio Vargas, and Roseli Aparecida Francelin Romero.
			</span><br />
			<span class="venuetype"></span><span class="venue">Sensors 21(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A COTS (UHF) RFID Floor for Device-Free Ambient Assisted Living Monitoring.
			</span><br />
			<span class="authors">
				Ronnie Smith, Yuan Ding, George Goussetis, and Mauro Dragone.
			</span><br />
			<span class="venuetype"></span><span class="venue">Ambient Intelligence -- Software and Applications -- 11th International Symposium on Ambient Intelligence</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.techrxiv.org/articles/preprint/An_EEG_investigation_on_planning_human-robot_handover_tasks/12950342/files/24667400.pdf">An EEG investigation on planning human-robot handover tasks</a>.
			</span><br />
			<span class="authors">
				Sara Cooper, Stuart Gow, Samuel Fensome, Mauro Dragone, and Dimitrios Kourtis.
			</span><br />
			<span class="venuetype"></span><span class="venue">ICHMS 2020: 1st IEEE International Conference on Human-Machine Systems</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				CW Radar Based System with Automated DC Offset Reduction for Heartbeat Detection.
			</span><br />
			<span class="authors">
				P. Kontou, S. B. Smida, M. Dragone, S. Nikolaou, and D. E. Anagnostou.
			</span><br />
			<span class="venuetype"></span><span class="venue">2020 IEEE USNC-CNC-URSI North American Radio Science Meeting (Joint with AP-S Symposium)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.ukras.org/wp-content/uploads/formidable/21/UKRAS20_paper_16.pdf">Human-in-the-Loop Adaptation and Reuse of Robot Assistance Policies for Ambient Assisted Living</a>.
			</span><br />
			<span class="authors">
				Ronnie Smith.
			</span><br />
			<span class="venuetype"></span><span class="venue">UKRAS '20 Conference: "Robots into the real world"</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.ukras.org/wp-content/uploads/formidable/21/UKRAS20_paper_28.pdf">A Robotic Environment for Cognitive Assessment</a>.
			</span><br />
			<span class="authors">
				Scott MacLeod, Mauro Dragone, and Mario P. Rodriguez.
			</span><br />
			<span class="venuetype"></span><span class="venue">UKRAS '20 Conference: "Robots into the real world"</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				The Role of Aesthetics in Robotics and the Rise of Polymorphic Robots.
			</span><br />
			<span class="authors">
				Alexandre Colle.
			</span><br />
			<span class="venuetype"></span><span class="venue">HRI '20: Proceedings of the 2020 ACM/IEEE International Conference on Human-Robot Interaction</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Adaptivity as a Service (AaaS): Enabling Deep Personalisation for a Heterogeneous Ambient Assisted Living Landscape.
			</span><br />
			<span class="authors">
				Ronnie Smith.
			</span><br />
			<span class="venuetype"></span><span class="venue">Workshop on Behavioral Patterns and Interaction Modelling for Personalized Human-Robot Interaction at HRI '20</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://static1.squarespace.com/static/5ac3dc3225bf0273228c2516/t/5e972369f26b89381d7da26d/1586963314736/HRI_2020_WS_Creative_SR_paper_3.pdf">Non-Zoomorphic Robots: The Role of Aesthetics in Social Robotic Design</a>.
			</span><br />
			<span class="authors">
				Alexandre Colle and Swen E Gaudl.
			</span><br />
			<span class="venuetype"></span><span class="venue">Workshop on Exploring Creative Content in Social Robotics at HRI '20</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://onlinelibrary.wiley.com/doi/pdf/10.1111/coin.12233?casa_token=0S1Q0Jfch28AAAAA:a4HpFgD9Cbm1MdHvXze7iXdA-0nQ2tW_biY3sLlq5o67xeuygq8f8ZhGGdE9y1clTsgNkbQtBJRoPDE">An ambient intelligence approach for learning in smart robotic environments</a>.
			</span><br />
			<span class="authors">
				Davide Bacciu, Maurizio Di Rocco, Mauro Dragone, Claudio Gallicchio, Alessio Micheli, and Alessandro Saffiotti.
			</span><br />
			<span class="venuetype"></span><span class="venue">Computational Intelligence 35(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://paolaardon.github.io/files/papers/18ardon2018reaching.pdf">Reaching and grasping of objects by humanoid robots through visual servoing</a>.
			</span><br />
			<span class="authors">
				Paola Ardon, Mauro Dragone, and Mustafa Suphi Erden.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Human Haptic Sensing and Touch Enabled Computer Applications</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://journals.sagepub.com/doi/pdf/10.1177/1729881418759424">The Internet of Robotic Things: A review of concept, added value and applications</a>.
			</span><br />
			<span class="authors">
				Pieter Simoens, Mauro Dragone, and Alessandro Saffiotti.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Journal of Advanced Robotic Systems 15(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
