
{% assign testbed = include.testbed %}

{% if testbed.link %}
    {% testbed testbed-url = testbed.link %}
{% else %}
    {% capture testbed-url %}{{site.base}}{{testbed.url}}.html{% endcapture %}
{% endif %}

<div class="card">
    <div class="card-body">
        {% if testbed.image %}
            {% assign imgurl = testbed.image %}
            {% capture init %}{{ testbed.image | slice: 0,1 }}{% endcapture %}
            {% if init == "/" %}
                {% capture imgurl %}{{site.base}}{{project.image}}{% endcapture %}
            {% endif %}
            <a href="{{ proj-url }}">
                <img class="img-fluid mb-3" src="{{imgurl}}" alt="{{testbed.title}}"/>
            </a>
        {% endif %}
        {% if testbed.notitle != true %}
            <h4 class="card-title">
                {{  testbed.title }}
            </h4>
        {% endif %}
        {% if testbed.subtitle != null and testbed.subtitle != "" %}
            <h6 class="card-subtitle mb-2 text-muted">
                {{  testbed.subtitle }}
            </h6>
        {% endif %}
        <div class="card-text">
            {{ project.description | markdownify }}
        </div>
        {% if testbed.no-link != true or testbed.link %}
            <a href="{{ proj-url }}"> Read more &raquo;</a>
        {% endif %}
    </div>
</div>
